<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Solvingmagento_Externaldb>
            <version>0.1.0</version>
        </Solvingmagento_Externaldb>
    </modules>
    <global>
        <models>
            <solvingmagento_externaldb>
                <class>Solvingmagento_Externaldb_Model</class>
                <resourceModel>solvingmagento_externaldb_resource</resourceModel>
            </solvingmagento_externaldb>
            <solvingmagento_externaldb_resource>
                <class>Solvingmagento_Externaldb_Model_Resource</class>
                <entities>
                    <external_data>
                        <table>external_data</table>
                    </external_data>
                </entities>
            </solvingmagento_externaldb_resource>
        </models>
        <resources>
            <external_db>
                <connection>
                    <host><![CDATA[localhost]]></host>
                    <username><![CDATA[username]]></username>
                    <password><![CDATA[password]]></password>
                    <dbname><![CDATA[externaldbname]]></dbname>
                    <type>pdo_mysql</type>
                    <active>1</active>
                </connection>
            </external_db>
            <solvingmagento_externaldb_setup>
                <setup>
                    <module>Solvingmagento_Externaldb</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>external_db</use>
                </connection>
            </solvingmagento_externaldb_setup>
            <solvingmagento_externaldb_write>
                <connection>
                    <use>external_db</use>
                </connection>
            </solvingmagento_externaldb_write>
            <solvingmagento_externaldb_read>
                <connection>
                    <use>external_db</use>
                </connection>
            </solvingmagento_externaldb_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <externaldb>
                <use>standard</use>
                <args>
                    <module>Solvingmagento_Externaldb</module>
                    <frontName>externaldb</frontName>
                </args>
            </externaldb>
        </routers>
    </frontend>
</config>
