<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Solvingmagento_Downloadkeys>
            <version>0.1.0</version>
        </Solvingmagento_Downloadkeys>
    </modules>
    <global>
        <models>
            <solvingmagento_donwloadkeys>
                <class>Solvingmagento_Downloadkeys_Model</class>
                <resourceModel>solvingmagento_downloadkeys_resource</resourceModel>
            </solvingmagento_donwloadkeys>
            <solvingmagento_downloadkeys_resource>
                <class>Solvingmagento_Downloadkeys_Model_Resource</class>
                <entities>
                    <downloadkeys>
                        <table>solvingmagento_downloadkey</table>
                    </downloadkeys>
                </entities>
            </solvingmagento_downloadkeys_resource>
        </models>
        <helpers>
            <downloadkeys>
                <class>Solvingmagento_Downloadkeys_Helper</class>
            </downloadkeys>
        </helpers>
        <resources>
            <solvingmagento_downloadkeys_setup>
                <setup>
                    <module>Solvingmagento_Downloadkeys</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </solvingmagento_downloadkeys_setup>
        </resources>
        <blocks>
            <solvingmagento_downloadkeys>
                <class>Solvingmagento_Downloadkeys_Block</class>
            </solvingmagento_downloadkeys>
        </blocks>
    </global>
    <admin>
        <routers>
            <solvingmagento_downloadkeys>
                <use>admin</use>
                <args>
                    <frontName>slvgmgt_downloadkeys</frontName>
                    <module>Solvingmagento_Downloadkeys</module>
                </args>
            </solvingmagento_downloadkeys>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <downloadkeys>
                    <file>downloadkeys.xml</file>
                </downloadkeys>
            </updates>
        </layout>
    </adminhtml>
</config>
